<div class="container px-5 px-sm-0">
 <div class="row">

<%= render'books/list', user:@user, book:@book %>

<div class="col-md-8 offset-md-1">
 <h2>Book detail</h2>
 <table class="table">
  <tbody>
   <tr>
  <td><%= attachment_image_tag @books.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
  <%= link_to user_path(@user) do %><%= @books.user.name %><% end %></td>
  <td><%= link_to book_path(@books) do %><%= @books.title %><% end %></td>
  <td><%= @books.body %></td>
  <% if @books.favorited_by?(current_user) %>
    <td>
      <%= link_to book_favorites_path(@books), method: :delete do %>
        ♥<%= @books.favorites.count %>
      <% end %>
    </td>
    <% else %>
    <td>
      <%= link_to book_favorites_path(@books), method: :post do %>
        ♡<%= @books.favorites.count %>
      <% end %>
    </td>
  <% end %>
  <% if @books.user == current_user %>
  <td><%= link_to 'Edit', edit_book_path(@books), class:'btn btn-sm btn-success' %></td>
  <td><%= link_to 'Destroy', book_path(@books), data: {confirm: '本当に消しますか?'}, class:'btn btn-sm btn-danger', method: :delete %></td>
  <% end %>
</div>

      </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>