<%= render'users/list', user:@user %>

<%= render'books/list', book:@book %>

<div class="post-body">
  <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p><%= @book.user.name %></p>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p
  <% if @book.user == current_user %>
  <%= link_to 'Destroy', book_path(@book), method: :delete %>
  <% end %>
</div>