<div class="container px-5 px-sm-0">
 <div class="row">

<%= render'books/list', user:@user, book:@book %>

<div class="col-md-8 offset-md-1">
 <h2>Book detial</h2>
 <table class="table">
  <tbody>
   <tr>
  <td><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
  <%= link_to user_path(@user) do %><%= @book.user.name %><% end %></td>
  <td><%= link_to book_path(@book) do %><%= @book.title %><% end %></td>
  <td><%= @book.body %></td>
  <% if @book.user == current_user %>
  <td><%= link_to 'Edit', edit_book_path(@book), class:'btn btn-sm btn-success' %></td>
  <td><%= link_to 'Destroy', book_path(@book), class:'btn btn-sm btn-danger', method: :delete %></td>
  <% end %>
</div>

      </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>